* {
    -outline: 1px solid tomato;
}

.mc {
    color: tomato;
}

#header {
    line-height: 100px;
    border-bottom: 1px solid #ddd;
}

#header .inner {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    margin: 0 auto;
}

#header h1 {
    font-size: 0;
}

#header .link {

    text-align: right;
}

#header .gnb>ul {
    display: flex;
    gap: 30px;

}

#header .gnb>ul a {
    display: block;
}



.mainContent {
    padding: 100px 0;
}

.mainContent h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainContent h2::after {
    content: "";
    display: block;

    width: 30px;
    height: 2px;

    background: #333;
    margin: 20px auto;


}

.mainContent>p {
    font-size: 15px;
    margin: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainContent .inner {
    display: flex;
    gap: 30px;

    width: 1200px;
    margin: 0 auto;
}

.mainContent .inner>div {
    flex: 1;
}

.mainContent .left_con {}

.mainContent .left_con .tit {
    font-size: 23px;
    font-weight: 500;
    margin: 0 0 30px 0;
    line-height: 40px;
}

.mainContent .left_con p {
    font-size: 15px;
    margin: 0 0 20px 0;
    line-height: 25px;
    word-break: keep-all;
}

.mainContent .left_con strong {
    font-size: 17px;
    font-weight: 500;
}


.mainContent .right_pic img {
    float: right;
    transform: scaleX(-1);
}

.mainContent .top {
    margin: 0 auto 40px auto;
}


.mainContent .bottom {
    width: 1200px;
    margin: 0 auto;
}

.mainContent .bottom h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainContent .bottom h3::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 16px;
    background: #333;
    margin: 0 15px 0 0;
}

.mainContent .basic_table tr:nth-child() {
    background: #f7f7f7;
}

.mainContent .basic_table {
    width: 100%;
    border-top: 2px solid tomato;
    border-collapse: collapse;
    border-spacing: 0;
}

.mainContent .basic_table td {
    border-bottom: 1px solid #ddd;
    padding: 0 20px;

}

.mainContent .basic_table td~td {
    border-left: 1px solid #ddd;
}

.mainContent .basic_table td:nth-child(1) {
    font-weight: 500;
}

.mainContent .basic_table td {
    height: 40px;
}





#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0 60px 0;
}