* {
    -outline: 1px solid tomato;
}

.mc {
    color: tomato;
}

#header {
    line-height: 100px;
    border-bottom: 1px solid #ddd;
}

#header .inner {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    margin: 0 auto;
}

#header h1 {
    font-size: 0;
}

#header .link {

    text-align: right;
}

#header .gnb>ul {
    display: flex;
    gap: 30px;

}

#header .gnb>ul a {
    display: block;
}



.mainContent {
    padding: 100px 0;
}

.mainContent h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainContent h2::after {
    content: "";
    display: block;

    width: 30px;
    height: 2px;

    background: #333;
    margin: 20px auto;


}

.mainContent>p {
    font-size: 15px;
    margin: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
}

.mainContent .inner {
    display: flex;
    gap: 2px;
    width: 1200px;
    margin: 0 auto;
}

.mainContent .inner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.mainContent .inner .case {
    position: relative;
}

.mainContent .inner .case h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 0 2px #000;
}

.mainContent .inner .case h3::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 15px auto 0 auto;
}

.mainContent .inner figure {
    position: relative;
    overflow: hidden;
}

.mainContent .inner figure:hover .over {
    left: 0;
    transition: 0.5s;
}

.mainContent .inner .over {
    position: absolute;
    top: 0;
    left: -100%;
    right: 0;
    width: 100%;

    height: 100%;
    background: rgb(51, 51, 51, 0.8);
    color: #fff;
    padding: 30px 15px;

    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.mainContent .inner .over h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #fff;
    margin: 0 0 30px 0;

}

.mainContent .inner .over p {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    word-break: keep-all;
}

.mainContent .inner .over a {
    border: 1px solid #fff;
    margin: auto 0 0 0;
    padding: 10px 15px 8px 15px;
    align-self: flex-start;
}


.mainContent .top {
    margin: 0 auto 50px auto;
}

.mainContent .bottom {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.mainContent .bottom>div {
    flex: 1;
}

/* flex 아이템 flex방향 padding은 size에 영향을 준다. */
.mainContent .bottom .tit {
    position: relative;
    padding: 5px 0 0 0;
}


.mainContent .bottom .tit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 50px;
    background: tomato;
}


.mainContent .bottom .tit h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0 0 0 30px;
}


.mainContent .bottom .tit p {
    font-size: 15px;
    padding: 0 0 0 30px;
}

.mainContent .basic_list>li {
    position: relative;
    font-size: 15px;
    line-height: 25px;
    padding: 0 0 0 20px;

}

.mainContent .basic_list>li::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 2px;
    height: 2px;
    background: #333;
}







#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0 60px 0;
}